.menu-wrapper {
  position: fixed;
  left: 4vmin;
  top: 4vmin;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 8vmin);
}

.social-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.social-link {
  color: var(--background-dark);
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  pointer-events: all;
}

.social-link:hover {
  color: var(--gradient-color-1);
  transform: scale(1.1);
}

#menu.menu-toggled .social-link {
  color: var(--background-light);
}

#menu.menu-toggled .social-link:hover {
  color: var(--gradient-color-1);
}